<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
					xmlns="http://java.sun.com/xml/ns/javaee" 
					xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
					metadata-complete="true" version="3.0">

	<!-- :: Spring API 에 제공하는 CharacterEncodingFilter 로 한글 인코딩처리 -->	
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>	org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>																

 
  <!-- ::SpringMVC 에서의 Front Controller(단일인입점)  DispatcherServlet 선언 -->
  <servlet>
	    <servlet-name>action</servlet-name>
	    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	    
	    <init-param>
	      <param-name>contextConfigLocation</param-name>
	      <param-value>/config/springMVC/common-servlet.xml</param-value>
	    </init-param>
	    
	    <load-on-startup>1</load-on-startup>
  </servlet>
 
 
  <!-- URI : / 형식이면  Servlet Mapping  
          @RequestMapping을 다양하게 적용시켜 보면... -->
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  
</web-app>